[user]
  email = undydisc@gmail.com
  name = Underdisc

[core]
  autocrlf = input
  editor = nvim
  pager = cat

[alias]
  #SHORTENED COMMANDS
  b = branch
  cm = commit -m
  co = checkout
  d = diff --color=always
  ds = diff --submodule=log
  s = status --ignore-submodules=none
  vommit = commit -m \":O~==~ This is broken\"
  view = "!f() { git diff $1~1 $1 $2 $3; }; f"
  reverseview = "!f() { git diff $1 $1~1 $2 $3; }; f"
  applycommit = "!f() { git view $1 > p; git apply p; rm p; }; f"
  stripcommit = "!f() { git reverseview $1 > p; git apply p; rm p; }; f"

  wc = commit -m "wc"
  awc = !git add . && git commit -m "wc" && :
  rwc = !git reset HEAD~1

  #LOG COMMANDS
  lga = log --graph --all --abbrev-commit --color=always --decorate --date=format:%g-%m-%d --pretty=short --format=tformat:'%w(75, 0, 1)%C(bold white){%C(bold cyan)%h%C(bold white)/%C(bold yellow)%ad%C(bold white)/%C(bold magenta)%an%C(bold green)|%D%C(bold white)} %C(reset)%s'
  lgs = !"git lga" -10
  lgl = !"git lga" -40

[status]
  submoduleSummary = true

[pull]
  rebase = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = master
